name: SQL JDBC Java CI

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'

jobs:
  build:
    strategy:
      matrix:
        java:
          - 11
          - 17
          - 21
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    
    - name: Build with Gradle
      run: ./gradlew build test shadowJar
    
    - name: Create Artifact Path
      run: |
        mkdir -p sql-jdbc-builds
        cp ./build/libs/*.jar sql-jdbc-builds

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: sql-jdbc-java-${{ matrix.java }}
        path: sql-jdbc-builds
