name: SQL JDBC Java CI

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - 'sql-jdbc/**'
      - '.github/workflows/sql-jdbc-test-and-build-workflow.yml'

jobs:
  build:
    strategy:
      matrix:
        entry:
          - { os: ubuntu-latest, java: 11 }
          - { os: windows-latest, java: 11, os_build_args:  -x compileJdbc -x jacocoTestReport}
          - { os: macos-latest, java: 11, os_build_args:  -x compileJdbc -x jacocoTestReport }
          - { os: ubuntu-latest, java: 17 }
          - { os: windows-latest, java: 17, os_build_args:  -x compileJdbc -x jacocoTestReport}
          - { os: macos-latest, java: 17, os_build_args:  -x compileJdbc -x jacocoTestReport }
        java:
          - 11
          - 17
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sql-jdbc

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    
    - name: Build with Gradle
      run: ./gradlew build test shadowJar
    
    - name: Create Artifact Path
      run: |
        mkdir -p sql-jdbc-builds
        cp ./build/libs/*.jar sql-jdbc-builds

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: sql-jdbc
        path: sql-jdbc-builds
